.meanheader {
    max-width: 1920px;
    margin: 0 auto;
}
.navigation {
    width: 1290px;
    height: 105px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FCFCFC;
}
.firstblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.secondblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.explord {
    font-size: 22px;
    border-right: 1px solid #f0f0f0;
    padding-right: 40px;
}
.explord::before {
    content: "•";
    height: 10px;
    width: 10px;
    color: #6294A2;
    padding-right: 10px;
}
b {
    font-weight: bolder;
}
.blog {
    padding-left: 40px;
}
li a {
    text-decoration: none;
}
.home {
    padding-right: 30px;
}
.discover{
    padding-left: 30px;
}
.main {
    font-weight: bold;
}
.footer {
    height: 235px; 
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.footerdiv {
    height: 165px;
    width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.6;
}
.footerdiv h4::after {
    content: "© 2020";
    padding-left: 30px;
    font-size: 18px;
}
.footerdiv h4 {
    padding-bottom: 35px;
}
.footerdiv h6 {
    font-size: 18px;
    padding-bottom: 15px;
}
.footerdiv p {
    font-size: 15px;
    width: 376px;
    padding-right: 340px;
}
.footexplord {
    font-size: 22px;
}
.footexplord::before {
    content: "•";
    height: 10px;
    width: 10px;
    color: #6294A2;
    padding-right: 10px;
}
.footerdiv1 {
    border-right: 1px solid #f0f0f0;
    padding-right: 60px;
}
.footerdiv2 {
    padding-left: 55px;
    padding-right: 150px;
}
.footerdiv3 {
    padding-right: 0px;
    width: 130px;
    line-height: 2.0;
}