.meanheader {
    max-width: 1920px;
    margin: 0 auto;
}
.navigation {
    width: 1290px;
    height: 105px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FCFCFC;
}
.firstblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.secondblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.explord {
    font-size: 22px;
    border-right: 1px solid #f0f0f0;
    padding-right: 40px;
}
.explord::before {
    content: "•";
    height: 10px;
    width: 10px;
    color: #6294A2;
    padding-right: 10px;
}
b {
    font-weight: bolder;
}
.blog {
    padding-left: 40px;
}
li a {
    text-decoration: none;
}
.home {
    padding-right: 30px;
}
.discover{
    padding-left: 30px;
}
.main {
    font-weight: bold;
}
.footer {
    height: 235px; 
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.footerdiv {
    height: 165px;
    width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.6;
}
.footerdiv h4::after {
    content: "© 2020";
    padding-left: 30px;
    font-size: 18px;
}
.footerdiv h4 {
    padding-bottom: 35px;
}
.footerdiv h6 {
    font-size: 18px;
    padding-bottom: 15px;
}
.footerdiv p {
    font-size: 15px;
    width: 376px;
    padding-right: 340px;
}
.footexplord {
    font-size: 22px;
}
.footexplord::before {
    content: "•";
    height: 10px;
    width: 10px;
    color: #6294A2;
    padding-right: 13px;
}
.footerdiv1 {
    border-right: 1px solid #f0f0f0;
    padding-right: 60px;
}
.footerdiv2 {
    padding-left: 55px;
    padding-right: 150px;
}
.footerdiv3 {
    padding-right: 0px;
    width: 130px;
    line-height: 1.6;
}
.footimg {
    opacity: 0.15;
}
.conteiner {
    width: 1290px;
    margin: 0 auto;
}
.cover {
    width: 100%;
    object-fit: cover;
    filter: blur(4px);
    opacity: 0.8; 
}
.sectiondiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 60px;
    padding-top: 60px;
}
.box1 {
    display: grid;
    background-color: #FCFCFC;
    grid-column-start: 1 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-row-gap: 20px;
}
.inline-block {
    display: inline-block;
}
.artcbox1 {
    height: 120px;
}
.artcbox1 img {
    object-fit: cover;
    height: 120%;
    padding-left: 40px;
}
.artcbox1 h3 {
    vertical-align: top;
    font-size: 13px;
    opacity: 25%;
    width: 40%;
    padding-bottom: 15px;
    padding-top: 15px;
}
.artcbox1 h4 {
    font-size: 20px;
    vertical-align: top ;
    padding-bottom: 15px;
}
.articlediv {
    width: 65%;
    vertical-align: top;
    padding-left: 35px;
    line-height: 1.0;
}
.box1 h2 {
    font-size: 25px;
    padding-left: 55px;
    width: 270px;
    padding-top: 35px;
    padding-bottom: 25px;
}
.box1 h2::before {
    color: #6294A2;
    content: "•";
    height: 10px;
    width: 10px;
    padding-right: 10px;
}
.box1p {
    width: 150px;
    padding-left: 310px;
    color: #010002;
    font-size: 16px;
    opacity: 0.4;
    letter-spacing: 1.2px;

}
.box2 {
    height: fit-content;
    grid-column-start: 3 ;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(../imgs/PosImg.png );
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 1.6;
}
.box2 h2 {
    width: fit-content;
    margin-left: 40px;
    padding-top: 40px;
    font-size: 15px;
    opacity: 35%;
    color: #f0f0f0;
}
.box2 h3 {
    width: fit-content;
    padding-left: 40px;
    padding-top: 10px;
    font-size: 32px;
    color: #f0f0f0;

}
.box2 p {
    width: fit-content;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 35px;
    font-size: 15px;
    line-height: 1.6;
    padding-bottom: 15px;
}
.box2p {
    width: fit-content;
    height: fit-content;
    background-color: #010002;
    color: #FCFCFC;
    opacity: 40%;
    border-radius: 22px;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-right: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
    width: 160px;
    letter-spacing: 1.8px;
}
.box3 {
    width: fit-content;
    height: fit-content;
    grid-column-start: 3 ;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 25px 40px;
}
.box3 h3 {
    font-size: 26px;
    padding-bottom: 26px;
    width: fit-content;
}
.box3 h3::before {
    content: "•";
    height: 10px;
    width: 10px;
    color: #6294A2;
    padding-right: 13px; 
}
.box3 p{
    font-size: 15px;
    opacity: 55%;
    color: #404040;
    width: 310px;
    padding-bottom: 15px;
}
.box4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 25px 40px;
    
}
.box4 h3 {
    width: fit-content;
    font-size: 26px;
    padding-bottom: 30px;
    color: #404040;
}
.box4 h3::before {
    content: "•";
    height: 10px;
    width: 10px;
    color: #6294A2;
    padding-right: 13px; 
}
.box4 article {
    line-height: 1.6;
}
.box4 h4 {
    vertical-align: top;
    font-size: 13px;
    opacity: 25%;
    width: 40%;
    padding-bottom: 10px;
}
.box4 h5 {
    font-size: 20px;
    vertical-align: top ;
    padding-bottom: 10px;
    color: #404040;
}
.box4 p {
    height: fit-content;
    font-size: 15px;
    color: #404040;
}
.box5 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    position: relative;
}
.box6 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
}
.box6 h4 {
    color: #404040;
    font-size: 26px;
    padding-left: 40px;
    padding-top: 25px;
    padding-bottom: 35px;
}
.box6 h4::before {
    content: "•";
    height: 10px;
    width: 10px;
    color: #6294A2;
    padding-right: 13px; 
}
.flexdiv {
    display: flex;
    justify-content: space-between;
}
.flexdiv p {
    width: 375px;
    height: 65px;
    font-size: 15px;
    line-height: 1.2;
    padding-bottom: 40px;
    padding-left: 40px;
}
.flexdiv h5 {
    font-size: 20px;
    width: fit-content;
    padding-left: 40px;
    padding-bottom: 20px;
}
.flexdiv img {
    padding-left: 40px;
    object-fit: cover;
    width: 375px;
    height: 155px;
    padding-bottom:25px ;
}
.box5 img {
    display: block;
    margin-left: auto;
    width: 605px;
    height: 475px;
}
.textonimg {
    position: absolute;
    bottom: 20px;
    right: 120px;
    padding-bottom: 25px;
    padding-left: 40px;
}
.textonimg h3 {
    font-size: 15px;
    opacity: 35%;
    color: #f0f0f0;
    padding-bottom: 10px;
}
.textonimg h4 {
    font-size: 32px;
    color: #f0f0f0;
}
.textonimg p {
    font-size: 15px;
    color: #f0f0f0;
    opacity: 55%;
}